<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SistemaLogisticaRO" connectionString="Data Source=C:\Desarrollo\Desarrollos\OpticaElena\DBScripts\SistemaLogistica.db;mode=ReadOnly" providerName="System.Data.SQLite"/>
    <add name="SistemaLogisticaNoRO" connectionString="Data Source=C:\Desarrollo\Desarrollos\OpticaElena\DBScripts\SistemaLogistica.db" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <add key="IdOrganizacion" value="1"/>
    <add key="ClientesDBFPath" value="C:\Desarrollo\Desarrollos\OpticaElena\DBScripts\cliente.dbf"/>
    <add key="TransportDBFPath" value="C:\Desarrollo\Desarrollos\OpticaElena\DBScripts\transpor.dbf"/>
    <add key="StrConnDBF" value="Provider=VFPOLEDB.1;Data Source={0};Collating Sequence=MACHINE;"/>
    <add key="Log4NetPath" value="c:\temp\"/>
    <add key="Log4NetFileName" value="SyncLogistica.log"/>
    <add key="Log4NetConfigFile" value="C:\Desarrollo\Desarrollos\OpticaElena\Source\SistemaLogistica\SyncroData\Log4Net.config"/>
  </appSettings>
</configuration>