<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="SistemaLogisticaRO" connectionString="Data Source=C:\Desarrollo\Desarrollos\OpticaElena\DBScripts\SistemaLogistica.db;mode=ReadOnly" providerName="System.Data.SQLite"/>
    <add name="SistemaLogisticaNoRO" connectionString="Data Source=C:\Desarrollo\Desarrollos\OpticaElena\DBScripts\SistemaLogistica.db" providerName="System.Data.SQLite"/>
  </connectionStrings>
   <appSettings>
    <add key="IdOrganizacion" value="1"/>
    <add key="SQLiteDateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="ClientesDBFPath" value="C:\Desarrollo\Desarrollos\OpticaElena\DBScripts\cliente.dbf"/>
    <add key="TransportDBFPath" value="C:\Desarrollo\Desarrollos\OpticaElena\DBScripts\transpor.dbf"/>
    <add key="StrConnDBF" value="Provider=VFPOLEDB.1;Data Source={0};Collating Sequence=MACHINE;"/>
    <add key="JWTSecretKey" value="c3d71f56-c3ca-11eb-8529-0242ac130003"/>
    <add key="JWTIssuer" value="http://http://opticaelena.com.ar/"/>
    <add key="JWTMinutesTTL" value="10"/>
    <add key="Log4NetPath" value="c:\temp\"/>
    <add key="Log4NetFileName" value="ApiLogistica.log"/>
    <add key="Log4NetConfigFile" value="C:\Desarrollo\Desarrollos\OpticaElena\Source\SistemaLogistica\ApiLogistica\Log4Net.config"/>
 </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
